/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/11/2017, 22:24:52
    Author     : paulo
*/

body{
    
    background-image: url("../images/fash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color:#444;
    font-family: 'Saira Semi Condensed', sans-serif;
    
}

nav{
    
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background:#8c1aff;
    color:#f2f2f2;
    padding:14px;
    z-index:100;
    
}

a{
    
    text-decoration:none;
    
}

.link{
    
    color:#f2f2f2;
    margin:0px 15px;
    
}

.link:hover{
    
    color:#d9d9d9;
    margin:0px 15px;
    
}

#carrinho{
    
    position:fixed;
    top:47px;
    right:30px;
    background:#333333;
    color:#f2f2f2;
    padding:12px;
    border-radius:8px;
    z-index:99;
    border-bottom: 3px solid #8c1aff;
    cursor:pointer;
    
}

#carrinho:hover{
    
    padding:15px 12px;
    border-bottom: 3px solid #8c1aff;
    
}

#ladoDireio{
    
    float:right;
    background:#f2f2f2;
    padding:30px;
    width:20%;
    
}

#ladoEsquerdo{
    
    float:left;
    background:#f2f2f2;
    padding:30px;
    width:64%;
    
}

#centro{
    
    position:absolute;
    top:350px;
    left:50%;
    margin-left:-450px;
    width:900px;
    background:#f2f2f2;
    z-index:10;
    
}

.caixa{
    
    width:150px;
    background:#dedede;
    padding: 10px;
    border-radius:3px;
    float:left;
    margin: 15px 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(194,190,194,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(194,190,194,1);
    box-shadow: 2px 2px 5px 0px rgba(194,190,194,1);

}



.caixa_imagem{
    
    cursor:pointer;
    border-radius:2px;
    width:150px;
    height:100px;
    
}

.botao{
    
    background:#99cc00;
    color:#4d6600;
    padding:10px 45px;
    border:none;
    cursor:pointer;
    outline: 0 none;
    
}

.botao:hover{
    
    color:#f2f2f2;
    background:#333;
    
}

.botao2{
    
    width: 100%;
    background:#f2f2f2;
    color:#8c1aff;
    padding:10px 20px;
    border:2px solid #8c1aff;   
    cursor:pointer;
    margin:5px 0px;
    outline: 0 none;
    
}

.botao2:hover{
    
    color:#f2f2f2;
    background:#333;
    
}

.botao3{
    
    background:#f2f2f2;
    color:#608000;
    padding:10px 70px;
    border:2px solid #608000;   
    cursor:pointer;
    margin:5px 0px;
    outline: 0 none;
    
}

.botao3:hover{
    
    color:#f2f2f2;
    background:#333;
    
}

#busca{
    
    width:230px; 
    padding:5px 8px;
    border:none;
    border-radius:3px;
    outline: 0 none;
    color:#bf80ff;
    margin:0px 7px;
    border: 1px solid #4d0099;
        
}

h1{
    
    color:#99cc00;
    
}

h3{
    
    color:#8c1aff;
    
}

.preco{
    
    color:#8c1aff;
    
}

#tela{
    
    position: absolute;
    top:55px;
    left:0px;
    width:100%;
    height:300px;
    background:#5900b3;
    opacity: 0.95;
    filter: alpha(opacity=95);
    z-index:11;
    
}

#superTexto{
    
    font-size: 30px;
    padding: 60px;
    color:#f2f2f2;
    
}

#footer{
    
    width: 500px;
    padding: 50px;
    
}

#lista{
    
    position:fixed;
    right:5px;
    bottom:5px;
    width:170px;
    padding:10px;
    border-radius:3px;
    background:#f2f2f2;
    color:#8c1aff;
    
}

#mais{
    
    padding:0px 6px;
    background:#d6d6d6;
    color:#888;
    border-radius:50px;   
    margin:0px 90px;
    cursor: pointer;
    
}

#mais:hover{
    
    background:#888;
    color:#dedede;
    
}

.elementoLista{
    
    color:#330066;
    font-size: 13px;
    
}

#tags{
    
    margin: 50px 0;
    
    
}

.tag_elemento{
    
    padding:4px 3px;
    margin:5px 5px;
    float:left;
    background: #f2f2f2;
    border: 0.5px solid #ccc;
    cursor:pointer;
    border-radius:3px;
    
}

.tag_elemento:hover{
    
     border: 0.5px solid #888;
   
}